/* Fix for popup of Add-on: TWP - Translate Web Pages */

#eDivResult {
    backdrop-filter: blur(25px) !important;
    background-color: var(--context-menu-background) !important;
    border: var(--context-menu-border) !important;
    outline: var(--context-menu-outline) !important;
}

#eSelTextTrans {
    color: var(--context-menu-hover) !important;
}

:root {
    --context-menu-border: 1px solid #ffffff33;
    --context-menu-outline: 0.5px solid #101010;
    --context-menu-background: #292929b3;
    --context-menu-hover: #2073d8;
}

@media (prefers-color-scheme: light) {
    :root {
        --context-menu-border: none;
        --context-menu-outline: 0.5px solid #c8c8c8;
        --context-menu-background: #e6e6e6ca;
        --context-menu-hover: #3584e4;
    }
}