:root {
    --body-padding: min(10rem, 10vw);
    --content-half-width: min(30rem, 50vw - var(--body-padding));
    --content-padding: calc(50vw - var(--body-padding) - var(--content-half-width) + 200px);
    --menubar-padding-right: 2rem;
}

body {
	font-family: sans-serif !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    line-height: 1.7 !important;
    overflow-y: auto !important;
    padding: 0 var(--body-padding) !important;
    box-sizing: border-box !important;
    position: relative !important;
}

#menubar {
    height: auto !important;
	left: calc(var(--body-padding) + var(--content-padding) - 200px - var(--menubar-padding-right)) !important;
    top: 10rem !important;
    background-color: transparent !important;
    overflow: visible !important;
    opacity: 0.25;
    transition: opacity 0.25s ease-out;
}

#menubar:hover {
    opacity: 1;
}

#menubar > div {
	display: inline-block !important;
    border: none !important;
}

#menu {
    background-color: transparent !important;
}

#menu .subcontents {
    position: relative !important;
    left: 1rem !important;
}

#menu .menuitem {
	font-weight: inherit !important;
}

#content {
    display: block !important;
    width: 100% !important;
	height: max-content !important;
    position: static !important;
    margin: 0 !important;
    padding: 10rem var(--content-padding) 0 !important;
    box-sizing: border-box !important;
    overflow: visible !important;
}

#content .ctext,
#content .mctext,
#content .etext {
    font-weight: inherit !important;
	font-family: New York, serif !important;
}

#content div[id^=content] {
	background-image: none !important;
}

#content > .text {
    font-weight: inherit !important;
    font-size: inherit !important;
}

#content #titleline {
    position: absolute !important;
    top: 1rem;
    left: var(--body-padding);
}

#content .noprint.opt {
	position: absolute !important;
    top: 1rem;
    right: var(--body-padding);
}

#content h2 {
    font-weight: 200 !important;
    font-size: 2rem !important;
    padding: 5rem 0 1rem !important;
    margin: 0 !important;
}

#content h2:first-of-type {
	padding: 1rem 0 1rem !important;
}

#footer {
    display: none !important;
}

a:link {
    color: inherit !important;
}

a:hover {
    color: rgb(77, 182, 255) !important;
    text-decoration: underline !important;
}
