/* Replaces Simplified Chinese fonts */

:root {
    --serif-font: 'LiSong Pro';
    --sans-font: 'PingFang HK';
}

@font-face {
    font-family: 'noto serif sc';
    src: local(--serif-font);
}

@font-face {
    font-family: 'SongTi SC';
    src: local(--serif-font);
}

@font-face {
    font-family: 'noto sans sc';
    src: local(--sans-font);
}

@font-face {
    font-family: 'PingFang SC';
    src: local(--sans-font);
}

@font-face {
    font-family: 'Hiragino Sans GB';
    src: local(--sans-font);
}

@font-face {
    font-family: 'Microsoft YaHei UI';
    src: local(--sans-font);
}

@font-face {
    font-family: 'Microsoft YaHei';
    src: local(--sans-font);
}